<!DOCTYPE html>
<html>
<head>
<th:block th:replace="/layout/header"></th:block>
<script th:inline="javascript">
    var email = [[${loginUser.email}]];
</script>
<script th:src="@{/js/board_detail.js}"></script>
</head>
<body>
	<th:block th:replace="/layout/nav"></th:block>
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">
				<div class="card mb-4">
					<div class="card-body">
						<div class="form-group">
							<label class="small mb-1">제목</label> <input
								class="form-control py-4" type="text" th:value="${board.title}"
								readonly />
						</div>
						<div class="form-group">
							<label class="small mb-1">내용</label>
							<textarea class="form-control py-4" th:text="${board.content}"
								type="textarea" readonly></textarea>
						</div>
						<th:block th:if="${board.fileName != null}">
						<div class="form-group">
							<label class="small mb-1">파일</label> <input
								class="form-control py-4" type="text"
								th:value="${board.fileName}" readonly
								th:onclick="download([[${board.id}]])" style="cursor: pointer;" />
						</div>
						</th:block>
						<div class="form-group mt-4 mb-0">
							<a class="btn btn-warning btn-lg btn-block" th:href="@{/board/update(id=${board.id})}">수정하기</a>
							<input type="button" class="btn btn-warning btn-lg btn-block"
								value="삭제하기" th:onclick="deleteBoardById([[${board.id}]])" /> <a
								class="btn btn-warning btn-lg btn-block" href="/main">홈으로</a>
						</div>
					</div>
				</div>
			</div>
			</main>
			<th:block th:replace="/layout/footer"></th:block>
		</div>
	</div>
</body>
</html>
