<!DOCTYPE html>
<html>
<head>
<th:block th:replace="/layout/header"></th:block>
<script src="/js/board_detail.js"></script>
</head>
<body>
	<th:block th:replace="/layout/nav"></th:block>
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">
				<div class="card mb-4">
					<div class="card-body">

						<div>제목 이름 작성일 조회수</div>
						<div>내용</div>
						<div>파일 다운로드</div>
						<div>
							<a class="btn btn-warning btn-block" href="/board/update">수정하기</a>
									<input type="button" class="btn btn-warning btn-block"
									value="삭제하기" th:onclick="deleteBoardById([[${board.id}]])" />
							<a class="btn btn-warning btn-block" href="/main">홈으로</a>
						</div>
					</div>
				</div>
			</div>
			</main>
			<th:block th:replace="/layout/footer"></th:block>
		</div>
	</div>
</body>
</html>
