<!DOCTYPE html>
<html>
<head>
<th:block th:replace="/layout/header"></th:block>
</head>
<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="card shadow-lg border-0 rounded-lg mt-5">
							<div class="card-header">
								<h3 class="text-center font-weight-light my-4">Aergo
									Community</h3>
							</div>
							<div class="card-body">
								<form th:action="@{/user/login}" method="post">
									<div class="form-group">
										<label class="small mb-1">이메일</label> <input
											class="form-control py-4" name="email" type="email"
											placeholder="이메일을 입력하세요." />
									</div>
									<div class="form-group">
										<label class="small mb-1">비밀번호</label> <input
											class="form-control py-4" name="password" type="password"
											placeholder="비밀번호를 입력하세요." />
									</div>
									<div class="form-group mt-4 mb-0">
										<input type="submit" class="btn btn-warning btn-block"
											value="로그인" />
									</div>
								</form>
								<div class="form-group mt-4 mb-0">
									<a class="btn btn-warning btn-block" href="/user/register">회원가입</a>
								</div>
							</div>
							<div class="card-footer text-center">
								<span th:if="${param.error}" style="color:red;">
									이메일 또는 비밀번호를 확인해주세요.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			</main>
		</div>
	</div>
</body>
</html>
