<!DOCTYPE html>
<html>
<head>
<th:block th:replace="/layout/header"></th:block>
<script th:src="@{/js/main.js}"></script>
</head>
<body>
	<th:block th:replace="/layout/nav"></th:block>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">
				<div class="card mb-4">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>번호</th>
										<th>제목</th>
										<th>작성자</th>
										<th>작성일</th>
										<th>조회수</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="board: ${boardPages}" th:onclick="findBoardById([[${board.id}]])" style="cursor:pointer;">
										<td th:text="${board.id}"></td>
										<td th:text="${board.title}"></td>
										<td th:text="${board.user.name}"></td>
										<td th:text="${board.createdDate}"></td>
										<td th:text="${board.viewCount}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<a class="btn btn-warning btn-lg btn-block" href="/board/register">글쓰기</a>
						</div> 
					</div>
				</div>
			</div>
			<nav aria-label="Pagination" th:if="${boardPages.totalPages gt 0}">
				<ul class="pagination justify-content-center font-weight-bold"
					th:with="startNumber=${T(Math).floor(boardPages.number/10)}*10+1, 
endNumber=(${boardPages.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardPages.totalPages}">
					<li class="page-item"><a class="page-link"
						aria-label="Previous" title="Previous Page" data-toggle="tooltip"
						href="/main?page=1"><span aria-hidden="true">&laquo;</span></a></li>
					<li class="page-item"><a class="page-link"
						th:href="@{/main(page=${boardPages.number})}">&lsaquo;</a></li>
					<li class="page-item"
						th:each="page :${#numbers.sequence(startNumber, endNumber)}"
						th:classappend="(${page} == ${boardPages.number}+1) ? 'active'"><a
						class="page-link" th:href="@{/main(page=${page})}"
						th:text="${page}"><span class="sr-only"></span></a></li>
					<li class="page-item"><a class="page-link"
						th:href="@{/main(page=${boardPages.number}+2)}">&rsaquo;</a></li>
					<li class="page-item"><a class="page-link" aria-label="Next"
						title="Next Page" data-toggle="tooltip"
						th:href="@{/main(page=${boardPages.totalPages})}"><span
							aria-hidden="true">&raquo;</span> </a></li>
				</ul>
			</nav>
			</main>
			<th:block th:replace="/layout/footer"></th:block>
		</div>
	</div>
</body>
</html>
