<!DOCTYPE html>
<html>
<head>
 <th:block th:replace="/layout/header"></th:block>
 <script src="/js/register_user.js"></script>
</head>
<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="card shadow-lg border-0 rounded-lg mt-5">
							<div class="card-header">
								<h3 class="text-center font-weight-light my-4">
									<b>회원가입</b>
								</h3>
							</div>
							<div class="card-body">
								<form id = "register_user_form" th:action="@{/user/register}" th:method="post">
									<div class="form-group">
										<label class="small mb-1">이메일</label> <input
											class="form-control py-4" name="email" type="email"
											placeholder="이메일을 입력하세요." />
									</div>
									<div class="form-row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="small mb-1">비밀번호</label> <input
													class="form-control py-4" name="password"
													type="password" placeholder="비밀번호를 입력하세요." />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="small mb-1">비밀번호 확인</label> <input
													class="form-control py-4" name="confirmedPassword"
													type="password" placeholder="입력하신 비밀번호를 재입력하세요." />
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="small mb-1">이름</label> <input
											class="form-control py-4" name="name" type="text"
											placeholder="이름을 입력하세요." />
									</div>
									<div class="form-group mt-4 mb-0">
										<input type="button" class="btn btn-warning btn-block"
											value="가입하기" onclick="register_user()">
										</button>
									</div>
								</form>
								<div class="form-group mt-4 mb-0">
									<a class="btn btn-warning btn-block" href="/">홈으로</a>
								</div>
							</div>
							<div class="card-footer text-center">
								<div class="small"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</main>
		</div>
		 <th:block th:replace="/layout/footer"></th:block>
	</div>
</body>
</html>
