<!DOCTYPE html>
<html>
<head>
<th:block th:replace="/layout/header"></th:block>
<script th:inline="javascript">
	var email = [[${loginUser.email}]];
	var id = [[${board.id}]];
</script>
<script th:src="@{/js/update_board.js}"></script>
</head>
<body>
	<th:block th:replace="/layout/nav"></th:block>
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">
				<div class="card mb-4">
					<div class="card-body">
						<form id="update_board_form" th:action="@{/board/update}"
							th:method="post">
							<div class="form-group">
								<label class="small mb-1">제목</label> <input
									class="form-control py-4" type="text" name="title"
									th:value="${board.title}" />
							</div>
							<div class="form-group">
								<label class="small mb-1">내용</label>
								<textarea class="form-control py-4" name="content"
									th:text="${board.content}" type="textarea"></textarea>
							</div>
							<th:block th:if="${board.fileName == null}">
								<div class="form-group">
									<label class="small mb-1">파일</label> <input name="file"
										type="file" class="btn btn-block" value="파일" th:onchange="setUploadStatus(this)"/> <input
										id="hasAlreadyFile" type="hidden" th:value="false">
										<input id="uploadStatus" type="hidden"
											th:value="Init">
								</div>
							</th:block>
							<th:block th:if="${board.fileName != null}">
								<div class="form-group">
									<label class="small mb-1">파일</label>
									<div class="form-inline">
										<input id="fileName" class="form-control py-4" type="text"
											th:value="${board.fileName}"
											th:onclick="download([[${board.id}]])" readonly
											style="cursor: pointer;" /> <input id="btnDeleteFile"
											type="button" class="btn btn-warning" value="파일 삭제"
											onclick="delete_file()" /> <input id="file" name="file"
											type="file" class="btn btn-block" value="파일" th:onchange="setUploadStatus(this)"
											style="display: none;" /> 
											<input id="hasAlreadyFile" type="hidden"
											th:value="true">
											<input id="uploadStatus" type="hidden"
											th:value="Init">
									</div>
								</div>
							</th:block>
							<div class="form-group mt-4 mb-0">
								<input type="button" class="btn btn-warning btn-block"
									value="수정하기" onclick="update_board()" /> <a
									class="btn btn-warning btn-block"
									th:href="@{/board/{id}(id=${board.id})}">취소</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			</main>
			<th:block th:replace="/layout/footer"></th:block>
		</div>
	</div>
</body>
</html>
