<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
	style="width: 100%; display: inline-block;">
	<ul class="navbar-nav ml-auto ml-md-0" style="float: left;">
		<li class="nav-item"><a class="navbar-brand" onClick="top.location='javascript:location.reload()'" style="cursor:pointer;">Aergo
				Community</a></li>
	</ul>
	<!-- Navbar-->
	<ul class="navbar-nav ml-auto ml-md-0" style="float: right;">
		<li class="nav-item"><a class="navbar-brand" style="width: 100%;"
			th:text="${loginUser.name}"></a></li>
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			id="userDropdown" href="#" role="button" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false"><i
				class="fas fa-user fa-fw"></i></a>
			<div class="dropdown-menu dropdown-menu-right"
				aria-labelledby="userDropdown">
				<form th:action="@{/user/logout}" th:method="post">
					<input type="submit" class="dropdown-item" th:value="로그아웃" />
				</form>
			</div></li>
	</ul>
</nav>